body {
    width:960px;
    font: 1em/2em Arial, Helvetica, sans-serif;
}

ul:first-of-type {
    list-style-type: none;
}

h2 {
    color: #CC1C0D;
    background-color: #DFE3E6 ;
    border: 1px solid #929CA4 ;
    padding-left: 10px;
    border-radius: 5px;
}

a {
    color: #CC1C0D ;
}
